*{
  margin: 0%;
  padding: 0%;
}


.container-fluid{
background-color: transparent;
}

.flotante {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;


  }
.CL{
  color: white;
  margin-left: 60%;
}

.LL{
 font-family: 'morpheus',sans-serif; 
  font-size: 20px;
  color: rgba(255, 255, 255, 0.773);
 

}

*{
  color: rgb(190, 187, 190);
}

#navbarNav{
  margin-top: 1%;
  margin-right: 4%;

}
 #inicio{
  margin-left: 2%;
  font-family: 'morpheus', sans-serif;                                          
  font-size: 45px;
  letter-spacing: -2px;
  color: rgba(255, 255, 255, 0.773);
  margin-top: 2%;

 }

//#todoElFrente{
 // background-image: url(~../../assets/dev.jpg);
 // background-repeat:no-repeat;
//  background-position-x:center;
//  background-position-y:center;
 // background-size: 100%;
//}

