*{
  margin: 0%;
  padding: 0%;
}


.container-fluid{
background-color: transparent;
}

.flotante {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;


  }
.CL{
  color: white;
  margin-left: 60%;
}

.LL{
  font-family: 'Courgette', serif;
  font-size: 19px;

}

*{
  color: rgb(190, 187, 190);
}

.navbar-brand{
  font-family: "Courgette", serif;
}
