<nav class="navbar navbar-expand-lg navbar-dark flotante NB">
  <div class="container-fluid">
    <a style="margin-left:100px" class="navbar-brand" href="#home">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav CL ">
        <li class="nav-item">
          <a mat-button class="LL" href="#carta1" >Botonaso 1</a>
        </li>
        <li class="nav-item">
          <a mat-button class="LL" href="#barraprogress" >Botonaso 2</a>
        </li>
        <li class="nav-item">
          <a mat-button class="LL" href="#carta2">Botonaso 3</a>
        </li>
        <li class="nav-item">
          <a mat-button class="LL" href="https://www.youtube.com/watch?v=mCdA4bJAGGk" target="_BLANK">No tocar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
