div{
  font-family: 'Courgette', cursive;
  height: 40px;
  margin-top: 4%;
}
img{
  width: 28px;
  margin-top: -15px;
  margin-left: 1px;
}

.foo{
  background-color: transparent;
}

.letra{
  color: rgb(190, 187, 190);
}