*{
  margin: 0%;
  padding: 0%;
}

.FT{
  margin-top: 8%;
  margin-bottom: 2%;
  z-index:1;
  margin-right: 30%;
}

.container-fluid{
background-color: transparent;
}

.fotoperfil{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-width: 3px; 
  cursor:url(~img/../../../assets/pez32px.png),auto;
}

.texto1{
  color: rgb(190, 187, 190);
font-size:30px;
margin-top: 2%;
cursor:url(~img/../../../assets/pez32px.png),auto;
}

.texto2{
  color: rgb(190, 187, 190);
  font-size:12px;
  cursor:url(~img/../../../assets/pez32px.png),auto;
  }

.redes a{
  margin: 8px;
}

#botones{
 margin-bottom: -27px;
}

.tam{
  background-color: transparent;
}

#home{
 // background-image: url(../../assets/humoVarriba.jpg);
  background-repeat:no-repeat;
  background-position-x:center;
  background-size: 100%;
}