*{
  margin: 0%;
  padding: 0%;
}

.FT{
  margin-top: 8%;
  margin-bottom: 2%;
  z-index:1;
  margin-right: 20%;
}

.container-fluid{
background-color: transparent;
}

.fotoperfil{
  width: 280px;
  height: 380px;
  border-radius: 25%;
  cursor:url(~img/../../../assets/pez32px.png),auto;
  box-shadow: rgba(49, 49, 50, 0.214) 0px 50px 100px -20px, rgba(213, 213, 213, 0.871) 0px 30px 60px -30px, rgba(149, 111, 255, 0.356) 0px -2px 6px 0px inset;
  margin-top: 4%;
  opacity: 0.7;
}

.texto1{
  color: rgb(255, 255, 255);
font-size:30px;
margin-top: 2%;
cursor:url(~img/../../../assets/pez32px.png),auto;
font-family: 'morpheus';
}

.texto2{
  color: rgb(255, 255, 255);
  font-size:14px;
  cursor:url(~img/../../../assets/pez32px.png),auto;
  font-family: 'morpheus';
  }

.redes a{
  margin: 8px;
}

#botones{
 margin-bottom: -27px;

}

.tam{
  background-color: transparent;
}

#home{
  background-image: url(~../../assets/luna22.jpg);
  background-repeat:no-repeat;
  background-position-x:center;
  height: auto;

}

.uno{
   background-color: rgba(59, 59, 59, 0.726);
}
.dos{
  background-color: rgba(59, 59, 59, 0.726);
}
.tres{
  background-color: rgba(59, 59, 59, 0.726);
}