<div class="container-fluid" >
  <mat-card class="proyectos mat-elevation-z0" id="Proyectos">
  <h2 class="text-center"><strong>Proyectos</strong>   </h2>
</mat-card>
  <mat-card class="cartel abajo LL" >
      <div class="row">
            <div class="col-md-6">
              <div class="card mb-3" >
                <img src="~../../assets/imgproyecto.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title"><strong>Portfolio</strong></h4>
              
                  <p class="card-text"><strong>Proyecto de Argentina Programa</strong></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-3" >
                <img src="~../../assets/tpcurso2.jpg" class="card-img-top" alt="..."id="p1">
                <div class="card-body" >
                  <h4 class="card-title"><strong>Portfolio</strong></h4>
                  <p class="card-text"><strong>Curso Full Stack Developer</strong></p>
                </div>
              </div>
          </div>
          </div>
        </mat-card>
    
         </div>
