*{
  margin: 0%;
  padding: 0%;
  
}

.container-fluid{
background-color: transparent;
}


.abajo{
  margin-top: 3%;
}

.CL{
  color: white;
  margin-left: 60%;
}
.cartel{
width: 90%;
margin-left: 5%;
box-shadow: rgba(0, 0, 0, 0.16) 7px -7px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
background-image: url(~../../assets/Fzml9v.webp);
}
.LL{
  font-family: "Courgette", serif;
  cursor:url(~img/../../../assets/pez32px.png),auto;

}

h2 {
  padding-top: 3%;
  font-size: 27px;
  font-family: "Courgette", serif;
  color: rgb(190, 187, 190);
}
h4{
  font-family: "Courgette", serif;
}

.card-body{
  background-color: rgb(189, 162, 204);
  padding: -10px;

}
.proyectos{
  background-color: transparent;
}
