<div class="container-fluid">
  <mat-card class="cartel abajo LL" id="carta1">
      <div class="row">
            <div class="col-md-6">
            <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ratione consequuntur error, sit ab quis quisquam eos perferendis beatae in nesciunt saepe consectetur natus ipsa. Illum molestias labore quaerat tempore.

            </b>
            </div>
            <div class="col-md-6">

              <mat-list role="list">
                <p class="EE">Lista</p>
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 4</mat-list-item>
                <mat-list-item role="listitem">Item 5</mat-list-item>
                <mat-list-item role="listitem">Item 6</mat-list-item>
                <mat-list-item role="listitem">Item 7</mat-list-item>
              </mat-list>
          </div>
          </div>
        </mat-card>
         </div>
