<div class="container-fluid" >
    <mat-card class="info mat-elevation-z0" id="SobreMi">
        <h2 class="text-center">Información Basica
        </h2>
    </mat-card>
  <mat-card class="cartel abajo LL" id="carta1" >
    
      <div class="row">
            <div class="col-md-6">
            <p>Hola, me llamo Tamara Grimal, soy residente de la ciudad de Berisso, Buenos Aires. Desde chica me intereso lo referido a la PC, comencé con cursos de reparación de la misma a los 16 años, seguí aprendiendo tanto como trabajando en ellas hasta el día de hoy, ya hace un año vengo aprendiendo sobre el hermoso mundo de la programación, me queda mucho camino por delante, pero pongo empeño para superarme día a día.<br>
                <br>
              Nunca es tarde para aprender...
            </p>
            </div>
            <div class="col-md-6">       
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-4">
                          <b>Fecha de nacimiento :</b>
                      </div>
                      <div class="col-sm-8">Abril 16,1989</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <b>Email:</b>
                      </div>
                      <div class="col-sm-8">tamaragrimal1989@gmail.com</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <b>N° Celular:</b>
                      </div>
                      <div class="col-sm-8">+54221-604743</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <b>Dirección:</b>
                      </div>
                      <div class="col-sm-8">Perseveransia 4048 , C.p:1923</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <b>Idiomas:</b>
                      </div>
                      <div class="col-sm-8">Ingles (Intermedio),Portugues(Intermedio)</div>
                  </div>
               </div>
                <br><br><br><br><br>
          </div>
         
      </div>
  
            
