<div class="container-fluid" >
    <mat-card class="info" id="back">
        <h2 class="text-center">Información Basica
        </h2>
    </mat-card>
  <mat-card class="cartel abajo LL" id="carta1" >
    
      <div class="row">
            <div class="col-md-6">
            <p>Hola,me llamo Tamara Grimal,soy residente de la ciudad de Berisso,en Buenos Aires.Desde chica me intereso lo referido a la pc,comence con cursos de reparación de la misma a los 16 años,segui aprendiendo tanto como trabajando en ellas hasta el dia de hoy,ya hace un año vengo aprendiendo sobre el hermoso mundo de la programacion,me queda mucho camino por delante pero pongo empeño para lograr que el día de mañana sea mejor que hoy.<br>
                <br>
              Nunca es tarde para aprender...
            </p>
            </div>
            <div class="col-md-6">       
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-4">
                          <strong>Fecha de nacimiento :</strong>
                      </div>
                      <div class="col-sm-8">Abril 16,1989</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <strong>Email:</strong>
                      </div>
                      <div class="col-sm-8">tamaragrimal1989@gmail.com</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <strong>N° Celular:</strong>
                      </div>
                      <div class="col-sm-8">+54221-604743</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <strong>Dirección:</strong>
                      </div>
                      <div class="col-sm-8">Perseveransia 4048 , C.p:1923</div>
                  </div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <strong>Idiomas:</strong>
                      </div>
                      <div class="col-sm-8">Ingles (Intermedio),Portugues(Intermedio)</div>
                  </div>
               </div>
          </div>
      </div>
  
            
