*{
  margin: 0%;
  padding: 0%;
}

.abajo{
  margin-top: 5%;
}

.cartel{
width: 90%;
margin-left: 5%;
box-shadow: rgba(0, 0, 0, 0.16) 7px -7px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;


}
.LL{
  font-family: 'Courgette', cursive;


}

p{
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-right: 30px;
  line-height: 21px;
  font-size: 15px;
}

#carta1{
  background-image: url(../../assets/minimalist_wallpaper__the_hacker_cat__by_laurentiudanu_d9lr9x3-fullview.jpg);
  background-position-x: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: #583c76;
}
