*{
  margin: 0%;
  padding: 0%;
}


.container-fluid{
background-color: transparent;
}

.abajo{
  margin-top: 3%;
}

.cartel{
width: 90%;
margin-left: 5%;
padding-top :25px;
box-shadow: rgba(0, 0, 0, 0.16) 7px -7px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
background-image: url(../../assets/80op.png);
}

.progress{
  margin: 3%
}
.progreso b {
  margin-left: 5%;
  font-family: 'Courgette';
  font-size: 22px;

}

h2{
  padding-top: 3%;
  font-size: 27px;
  font-family: "Courgette";
  color: rgb(190, 187, 190);
}
.b{
  opacity: 1;
}
h4{
  font-family: "Courgette";
}

.habilidades{
  background-color: transparent;
}