*{
  margin: 0%;
  padding: 0%;
}


.container-fluid{
background-color: transparent;
}

.abajo{
  margin-top: 3%;
}

.cartel{
width: 90%;
margin-left: 5%;
padding-top :40px;
box-shadow: rgba(0, 0, 0, 0.16) 7px -7px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
background-image: url(../../assets/humoizq.webp);
background-repeat: no-repeat;
background-size: cover;
cursor:url(img/../../../assets/pez32px.png),auto;
color: rgb(190, 187, 190);
letter-spacing: 2px;
}

.progress{
  margin: 5%
}
.progreso b {
  margin-left: 5%;
  font-family: 'morpheus', serif;
  font-size: 22px;

}

h2{
  padding-top: 3%;
  font-size: 27px;
  font-family: 'morpheus', serif;
  color: rgb(190, 187, 190);
}
.b{
  opacity: 1;
  color: rgb(190, 187, 190);

}
h4{
  font-family: 'morpheus', serif;
}

.habilidades{
  background-color: transparent;
  padding-top: 100px;

}
