<div class="container-fluid">
  <mat-card class="cartel abajo progreso" id="barraprogress">
    <div class="row">
      <div class="col-md-6 ">
              <b> aaa</b>
              <div class="progress">

                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <b> aaa</b>
              <div class="progress">

                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <b> aaa</b>
              <div class="progress">

                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
      </div>
      <div class="col-md-6">
              <b> aaa</b>
              <div class="progress">

                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <b> aaa</b>
              <div class="progress">

                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <b> aaa</b>
              <div class="progress">

                <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

      </div>
    </div>
  </mat-card>
</div>
