<div class="container-fluid">
  <h2 class="text-center"><strong>Habilidades</strong></h2>
  <mat-card class="cartel abajo progreso" id="barraprogress">
    <div class="row">
      <div class="col-md-6 ">
              <b> Html</b>
              <div class="animate__animated animate__backInLeft">
              <div class="progress" style="height: 12px;">
                <div class="progress-bar progress-bar-striped  bg-black" role="progressbar" aria-label="Example 12px high" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
              <b> Css</b>
              <div class="animate__animated animate__backInLeft">
              <div class="progress" style="height: 12px;">
                <div class="progress-bar progress-bar-striped  bg-secondary" role="progressbar" aria-label="Example 12px high" style="width: 45%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
              <b> MySql</b>
              <div class="animate__animated animate__backInLeft">
              <div class="progress" style="height: 12px;">
                <div class="progress-bar progress-bar-striped  bg-black" role="progressbar" aria-label="Example 12px high" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
      </div>
      <div class="col-md-6">
        <b> Bootstrap</b>
        <div class="animate__animated animate__backInLeft">
        <div class="progress" style="height: 12px;">
          <div class="progress-bar progress-bar-striped bg-black" role="progressbar" aria-label="Example 12px high" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
        <b>Material</b>
        <div class="animate__animated animate__backInLeft">
              <div class="progress" style="height: 12px;">
                <div class="progress-bar progress-bar-striped  bg-secondary" role="progressbar" aria-label="Example 12px high" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
              <b>Angular</b>
              <div class="animate__animated animate__backInLeft">
              <div class="progress" style="height: 12px;">
                <div class="progress-bar progress-bar-striped  bg-black" role="progressbar" aria-label="Example 12px high" style="width: 51%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
      </div>
    </div>
  </mat-card>
</div>
