    <header id="LL"> 
    <app-header></app-header> 
        <video
        oncanplay="this.play()"
        onloadeddata="this.muted=true"
        muted="muted"
        loop="loop"
        autoplay
        id="backVideo"
        #videoRef> 
      <source src="../assets/Background 1.mp4" loop type="video/mp4" />
     </video>
    <app-perfil></app-perfil>
    <app-info></app-info>
     <app-skills></app-skills>
     <app-projects></app-projects>
     <app-form></app-form>
     <app-footer></app-footer>  
    </header>
<router-outlet></router-outlet>






