#backVideo{
  position: fixed;
  min-width: 100%;
  min-height: 100%;

}

.global{
  background-image: url(../../src/assets/Binario-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 1500px 3000px;
}