*{
  margin: 0%;
  padding: 0%;
}
.fondo{
  height: 540px;
  width: 100%;
  background-image:url("https://images.alphacoders.com/835/83521.jpg");
  background-repeat: no-repeat;
  background-position-x: 57%;
  background-position-y: 22%
;
}

.FT{
  margin-top: 10%;
}


.container-fluid{
background-color: transparent;
}


.grupo3{
  color: white;
  margin-top: 2%;
}

.mat-raised-button{
  background-color: transparent;
  box-shadow: none;

}


.fotoperfil{
  width: 180px;
  height: 150px;
  border-radius: 100%;
}


.texto1{
color: white;
font-size:30px;
margin-top: -75px;
}

.texto2{
  color: white;
  font-size:12px;
  margin-top: 0px;
  }


#botones{
 margin-top: 55px;
}

button{


    margin-left: 1%;

}
.abajo{
  margin-top: 10%;
}
.flotante {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;


  }
.CL{
  color: white;
  margin-left: 60%;
}
.cartel{
width: 90%;
margin-left: 5%;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
