<div class="fondo">
  <div class="flotante">
  <div class="container-fluid">

  <div class="row ">


    <div class="col-md-4">
     <p class="grupo3">Grupo 3</p>
    </div>
    <div class="col-md-2">
      <button mat-raised-button color="primary">1</button>
    </div>
    <div class="col-md-2">
      <button mat-raised-button  color="primary">2 </button>
    </div>
    <div class="col-md-2">
      <button mat-raised-button color="primary">3</button>
    </div>
      <div class="col-md-2">
        <button mat-raised-button color="primary">4</button>
      </div>

  </div>
</div>
</div>


<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <img class="fotoperfil" src="https://punithraaj.github.io/Personal-Portfolio-Angular/assets/images/profile.JPG" alt="">
      </div>
      <div class="col-md-3"></div>
  </div>
</div>



  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="texto1">
          <p>grupo 3 asdasd</p>
        </div>
        <div class="texto2">
          <p>FULL STACK DEVELOPER</p>
        </div>
      </div>
        <div class="col-md-3"></div>
    </div>

    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-5"></div>
        <div class="col-md-1">
          <button mat-flat-button color="primary">Primary</button>
        </div>
        <div class="col-md-1">
          <button mat-flat-button color="primary">Primary</button>
        </div>
          <div class="col-md-5"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="botones">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
          <div class="col-md-3"></div>

      </div>
    </div>
  </div>
  <div class="container-fluid">

    <div class="row abajo">
        <div class="col-md-1">
        </div >
        <div class="col-md-5">
          <p>hola</p>
          </div>
          <div class="col-md-5">
            agulino puto! asdasd
          </div>
          <div class="col-md-1">
          </div>
       </div>

    </div>
  </div>
<router-outlet></router-outlet>






